<p class="h-adr">
    {% if street is defined and street is not null %}<span class="p-street-address">{{ street }}</span>{% endif %}
    {% if locality is defined and locality is not null %}<span class="p-locality">{{ locality }}</span>{% endif %}
    {% if country is defined and country is not null %}<span class="p-country-name">{{ country }}</span>{% endif %}
    {% if postcode is defined and postcode is not null %}<span class="p-postal-code">{{ postcode }}</span>{% endif %}
</p>