<a class="h-item" href="{{ item.URL }}">
{% if item.Image %}
    <figure style="float:right; text-align:center;margin-top:0">
        <img src="{{ item.Image }}" alt="{{ item.Name|replace({'"':'&quot;'}) }}" style="max-width:150px"/>
        <figcaption>
{% endif %}
  {{ item.Name }}
{% if item.Image %}
        </figcaption>
    </figure>
{% endif %}
</a>