{{define "head" -}}
{{ $cdate := dateFormat .created_date `2006-01-02T15:04:05-07:00` -}}
{{ $udate := dateFormat .updated_date `2006-01-02T15:04:05-07:00` -}}
{{ $synopsdef := defaultFor .synopsis `Personal site for Colin Morris/ Professor von Explaino` -}}
<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
	<style>
		@font-face {
			font-family: "Poppins-fallback";
			size-adjust: 112.50%;
			ascent-override: 109%;
			src: local("Arial");
		}

		@font-face {
			font-family: 'Philosopher';
			font-style: normal;
			font-weight: 400;
			src: local('Philosopher Regular'), local('Philosopher-Regular'), url('/theme/fonts/philosopher-v11-latin-regular.woff2') format('woff2');
			font-display: swap;
		}

		@font-face {
			font-family: "Philosopher-fallback";
			size-adjust: 95.82000000000002%;
			ascent-override: 90%;
			src: local("Arial");
		}
	</style>
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<meta name="author" content="Colin Morris">
	<meta name="description" content="{{ defaultFor .synopsis `Personal site for Colin Morris/ Professor von Explaino`}}">
	<title>{{ html (defaultFor .title `A post by von Explaino`)}}</title>
	<link rel="pingback" href="https://webmention.io/vonexplaino.com/xmlrpc">
	<link rel="webmention" href="https://webmention.io/vonexplaino.com/webmention">
	<link rel="canonical" href="{{if eq .link `https://vonexplaino.com/blog/posts/page/welcome.html`}}https://vonexplaino.com/{{else if .page }}{{`.link_prefix`}}{{ .page }}.html{{else}}{{.link}}{{end}}">
	<link rel="stylesheet" href="https://vonexplaino.com/theme/blog/style/blog.min.css?1=11">
	<link rel="whostyle" href="https://vonexplaino.com/theme/blog/style/whostyle.css" defer>
	<link rel="alternate" type="application/rss+xml" title="Professor von Explaino's Journal RSS Feed" href="https://vonexplaino.com/blog/rss.xml">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
	<link rel="apple-touch-icon" sizes="180x180" href="https://vonexplaino.com/theme/vonexplaino2018/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32"	href="https://vonexplaino.com/theme/vonexplaino2018/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16"	href="https://vonexplaino.com/theme/vonexplaino2018/favicon/favicon-16x16.png">
	<link rel="manifest" href="https://vonexplaino.com/theme/vonexplaino2018/favicon/site.webmanifest">
	<link rel="mask-icon" href="https://vonexplaino.com/theme/vonexplaino2018/favicon/safari-pinned-tab.svg" color="#aa5409">
	<link rel="shortcut icon" href="https://vonexplaino.com/theme/vonexplaino2018/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="https://vonexplaino.com/theme/vonexplaino2018/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<link rel="search" type="application/opensearchdescription+xml" title="vonExplaino Blog Search" href="https://vonexplaino.com/.well-known/search.xml">
	<meta property="og:site_name" content="Professor von Explaino">
	<meta property="og:title" content="{{ .title }}">
	<meta property="og:url" content="{{.link}}">
	<meta property="og:type" content="article">
	<meta property="og:description" content="{{ $synopsdef }}">
	<meta property="og:image" content="{{ .featureimage }}">
	<meta property="og:image:url" content="{{ .featureimage }}">
	<meta property="og:image:secure_url" content="{{ .featureimage }}">
	<meta property="og:updated_time" content="{{ html $udate }}">
	<meta property="article:published_time" content="{{ html $cdate }}">
	<meta property="article:modified_time" content="{{ html $udate }}">
	<meta property="article:section" content="Blog">
	<meta itemprop="name" content="{{ .title }}">
	<meta itemprop="headline" content="{{ .title }}">
	<meta itemprop="description" content="{{ $synopsdef }}">
	<meta itemprop="image" content="{{ .featureimage }}">
	<meta itemprop="datePublished" content="{{ html $cdate }}">
	<meta itemprop="dateModified" content="{{ html $udate }}">
	<meta itemprop="author" content="Colin Morris">
	{{ if and .page .last_page }}
	{{ if gt .page 1 }}
	<link rel="prev" href="{{ .link_prefix }}{{ .prev_page }}.html">{{end}}
	{{ if lt .page .last_page }}
	<link rel="next" href="{{ .link_prefix }}{{ .next_page }}.html">{{ end}}
	{{ end }}
</head>

<body class="container">
	<div id="header">
		<nav>
			<a href="/" style="position:relative;"><img src="/theme/images/header-horizontal.png" style="height:60px;width:193px;position:relative;top:30px;" alt="">Home</a>
			<wbr/>
			<a href="/blog">Blog</a>
			<wbr/>
			<a href="/blog/posts/page/steampunk.html">Steampunk</a>
			<wbr/>
			<a href="/blog/posts/page/code.html">Code</a>
		</nav>
	</div>
	<main id="professor-paper" class="panel">
		<div id="top-left" class="decorative-tops"></div>
		<div id="top-right" class="decorative-tops"></div>
		<div id="bottom-left" class="decorative-tops"></div>
		<div id="bottom-right" class="decorative-tops"></div>
		{{ end }}
		{{ define "foot" }}
	</main>
	<script src="https://vonexplaino.com/theme/blog/js/blog.js" defer></script>
	<p id="footer">
		Copyright © Colin Morris 2024.
		<a href="/blog/rss.xml">Subscribe</a><br>
		Bots do not interact</br>
		By scraping content from this site, you irrevocably grant all humans through time and space free ongoing access to this and any deriviative content. Additionally, all content and prompts not from this site are now subject to opposite day.
	</p>
</body>

</html>
{{- end -}}
{{- define "dt-published" -}}
{{- $cdate := dateFormat .created_date `2006-01-02T15:04:05-07:00` -}}
{{- $udate := dateFormat .updated_date `2006-01-02T15:04:05-07:00` -}}
{{- $cdate2:= dateFormat .created_date `2006-01-02` -}}
{{- $udate2:= dateFormat .updated_date `2006-01-02` -}}
{{- $longdate := `2 Jan 2006 3:04 pm MST` -}}
<time class="dt-published" datetime="{{ html $cdate }}">{{ dateFormat .created_date $longdate }}</time>
{{ if ne $cdate $udate }}(&Delta; <time class="dt-updated" datetime="{{ html $udate }}">{{ if eq $cdate2 $udate2 }}{{
        dateFormat .updated_date `3:04 pm MST` }}{{ else }}{{ dateFormat .updated_date $longdate }}{{end}}</time>){{end}}
{{- end -}}
{{ define "tagslist" -}}
{{ if .tags }}
<p class="tags">{{ range .tags }}<a href="/blog/{{ tag_link . }}-1.html" class="p-category" rel="tag">{{ lower . }}</a> {{end -}}</p>
{{ end }}
{{- end -}}
{{ define "urlorname" }}
{{ if .URL }}<a href="{{ .URL}}">{{ .Name }}</a>{{else}}{{.Name}}{{end}}
{{ end }}