<div class="shadowed-box">
  <h2 style="padding:3px;margin:0px;">Latest post</h2>
  <article class="h-entry">
    <h3 style="margin: 0px;"><a style="text-decoration: underscore;" href="{{ link }}" class="p-name u-url u-uid">{{ title }}</a></h3>
    <p class="p-summary">[{{ created_date|date('Y-m-d')}}] {{ synopsis }}</p>
  </article>
</div>