{{define "page"}}
{{ template "head" . }}
{{ $cdate := dateFormat .created_date `2006-01-02T15:04:05-07:00` -}}
{{ $udate := dateFormat .updated_date `2006-01-02T15:04:05-07:00` -}}
<article class="h-entry" data-article-id="{{ .id }}">
    <header>
        <h1 class="p-name">{{ .title }}</h1>
        <div class="post-meta"{{ if eq .title `Welcome` }} style="visibility:hidden;"{{end}}>
            <a class="p-author h-card" href="https://vonexplaino.com/">Colin Morris</a>
            {{ template "dt-published" . -}}
            {{ template "tagslist" . -}}
        </div>
    </header>
    <div>
        <section class="e-content">
            {{ html .content }}
        </section>
        <hr style="clear:both;">
        <p><a href="https://shareopenly.org/share/?url={{ .link }}&text={{ .summary }}">ShareOpenly</a>, or just like it: <open-heart href="https://corazon.sploot.com?id={{ .link }}" emoji="❤️">❤️</open-heart></p>
        <script src="https://unpkg.com/open-heart-element" type="module"></script>
        <script>
        window.customElements.whenDefined('open-heart').then(() => {
            for (const oh of document.querySelectorAll('open-heart')) {
                oh.getCount()
            }
        })
        window.addEventListener('open-heart', e => {
            e && e.target && e.target.getCount && e.target.getCount()
        })
        </script>
    </div>
</article>
{{ template "foot" . }}
{{end}}