{% if related_tags|length > 0 %}{% for tag in related_tags|keys %}{% if related_tags[tag]|length > 2 %}
<details><summary>{{tag}}</summary>
<ul>{% for rel_tag in related_tags[tag] %}<li><a href="{{rel_tag.Link}}">{{rel_tag.Title}}</a></li>
{% endfor %}</ul></details>
{% endif %}{% endfor %}{% endif %}
